/* Global style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$mainFont: "Questrial", sans-serif;
$footerColor: rgb(30, 27, 28);
$footerCardsColor: #3d3d3d;
$btnColor: rgb(78, 33, 143);
$yellowBtnColor: rgb(254, 179, 48);
